.about {
    color: #fff;
    /* min-height: 600px; */
    /* height: min-content; */
    background-color: #2e2e35;

    display: grid;
    grid-template-columns: 1fr 1fr;

    grid-template-rows: min(600px, max(300px, min(90vh, 75vw)));
    grid-auto-rows: min-content;

    gap: 1%;

}

.chaild {
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;

}

.chaild:nth-last-child(1) {
    grid-column: 1 / -1;
    height: min-content;
}

.chaild__first-section,
.chaild__last-section {
    width: 96%;
    height: auto;

}

.chaild__second-section {
    max-height: 80%;
    max-width: 90%;

    height: auto;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 3px;

    filter: grayscale(3%) brightness(110%);
    opacity: .97;

    margin-right: 10px;
}

.chaild__second-photo {

    height: 80vh;
    width: auto;
    /* object-fit: cover; */
    object-position: center;
}


.chaild__last-section {
    padding: min(10vw, 10px);


}

.chaild__first-section {
    height: min-content;
    display: grid;
    justify-items: end;
    grid-auto-rows: min-content;
}

.chaild__first-tityle {

    display: grid;

    grid-template-columns: 1fr;
}

.chaild__first-tityle-name {
    grid-column: 1 / -1;

    font-size: min(40px, 5vw);
    font-family: monospace;

    letter-spacing: 2px;

}

.chaild__first-tityle-name::first-letter {
    font-size: 1.6em;
    font-weight: bold;
    font-style: italic;
}

.chaild__first-tityle-fiest-name {
    width: min-content;

    display: flex;
    margin-right: auto;
}

.message {
    width: auto;
    height: min-content;

    display: flex;
    align-items: center;
    justify-items: center;

}

.message p {
    margin: 0;
    margin-left: min(10px, .3vw);
    letter-spacing: min(10px, .1vw);

    font-family: monospace;
    font-size: min(40px, 5vw);
}

.pc-sykalov {
    display: inline-block;
    width: min-content;

}

.pc-sykalov p {

    font-size: min(40px, 5vw);
    overflow: hidden;

    width: 0;
    margin-left: min(5px, 1vw);
    margin: 0;

    font-family: monospace;
    letter-spacing: 2px;

    animation: typing 2s steps(7, end) forwards;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

.pc {
    margin-right: auto;
    display: block;
    margin-left: 10px;
    font-size: min(40px, 7vw);
    font-style: italic;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}



.chaild__links {
    display: grid;
    justify-items: start;
    margin: 0 auto;


}

.social-links {
    width: auto;
    height: min-content;
    cursor: pointer;


}

.social-links a {
    font-size: min(10px, 5vw);
    line-height: 24px;
    color: #dadada;
    text-decoration: none;
}

.social-links a:hover {
    background-color: #2e2e3554;
}


.dash {
    width: min(40px, 30vw);
    height: 2px;
    background: #e4aa48;

    margin-top: 31px;
    margin-bottom: 14px;
}


.chaild__button {

    position: relative;
    top: 0;
    width: min(30vw, auto);

    padding: min(19px, 1vh);

    margin-top: min(20px, 5vh);

    background-color: inherit;
    border: #f9f9f9 1px solid;
}




@media screen and (min-width: 768px) {
    .about {
        grid-template-columns: 1.2fr .8fr 1fr;
    }

    .chaild:nth-last-child(1) {
        grid-column: auto;
        height: auto;
    }

    .chaild__second-section {
        margin-right: 0;
    }

}