.wrapper {
    width:  min(100%, 1024px);
    margin-left: auto;
    margin-right: auto;
}

.App {
    background-color: #2e2e35cc !important;

    min-height: 100vh;
    width:100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
}
