.projects {
    margin-top: min(50px, 7vh);
    width: 100%;

    color: #fff;

    gap: 20px;
    display: grid;

    grid-template-columns: 1fr;
    grid-auto-rows: min-content;

}

.projects-title{
    padding: min(10vw, 10px);
}

.projects-list {
    width: auto;
    height: 100%;

    gap: 20px;
    display: grid;

    grid-template-columns: 1fr;

    grid-auto-rows: max(32vh, min(100vw, 260px));

}

.projects-list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2e2e35;


}

.projects-list__item-img {
    width: 100%;
    max-height: 100%;

    opacity: .5;
    z-index: 1;
}

.projects-list__item-name {
    z-index: 2;
    color: #000;
    position: absolute;
}

.projects-list__item-img
 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} 


@media screen and (min-width: 560px) and (max-width: 768px) {
    .projects {
        max-width: 600px;
        margin: min(50px, 7vh) auto 0 auto;

    }

    .projects-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768px) {
    .projects {
        min-height: min-content;
        padding: min(5vw, 100px);
        padding-top: min(10vw, 25px);
    }

    .projects-list {
        gap: 0;
        justify-content: space-between;
        grid-template-columns: repeat(4, min(19.46vw, 19.46%));
        grid-auto-rows: min(calc(19.46vw * 1.1111), calc(192px * 1.1111));
    }

    .projects-list__item {
        border: #fff solid 1px;
    }
}